<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(./assets/images/pexels-tirachard-kumtanom-733853.jpg);">
    <div class="wrapper d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="img-container position-relative w-100 h-100"> <img src="./assets/images/pink about (1).jpeg" alt=""> <img src="./assets/images/pink about (1).jpeg" alt=""> </div>
            <div class="box w-100 h-100 position-absolute d-flex align-items-center justify-content-center">
                <div class="inner-content d-flex flex-column align-content-center justify-content-center">
                    <div class="h2 m-0 text-center">About us</div>
                    <div class="tag text-center">photography <span class="fas fa-heart text-danger"></span></div>
                    <p class="px-3 mt-3 text-center">Photography is a devotion, but it is also a record of ideas unique to your life. Here are some insights on capturing the thoughts and feelings unique to you.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>