


.container {
    background: #0c0c0c;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    margin-bottom: 7vh;
    text-align: center;
    text-transform: uppercase;
    width: 100vw
}

.card {
    align-items: center;
    background: white;
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(10, 10, 10);
    box-sizing: border-box;
    color: rgb(248, 242, 242);
    display: flex;
    flex-grow: 0;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 50%;
    justify-content: center;
    outline: 5px solid rgb(12, 12, 12);
}