<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="container" data-container>
            <div class="card" data-card style="background-image: url(./assets/images/gg8.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg7.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg6.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg5.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg4.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg3.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg2.jpeg)"></div>
            <div class="card" style="background-image: url(./assets/images/gg9.jpeg)"></div>
            
            
            
        </div>
        
    </div>


</body>
</html>