<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(./assets/images/dollar-gill-yqNRxWNrC04-unsplash.jpg);">
    <main>
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/cam for e.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Didital Camera</span> <span class="float-end price-hp">1284.$</span> </div>
                            <h5 class="card-title">A camera is an optical instrument that captures a visual image. </h5>
                            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/E2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Tripod</span> <span class="float-end"><a href="#">154.$</a></span> </div>
                            <h5 class="card-title">Tripod stands each have three legs, as well as mounting heads for the cameras. You can use tripods in either motion or still photography to prevent camera</h5>
                            <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/E4.jpg" class="card-img-top" alt="...">
                        <div class="label-top shadow-sm"></div>
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Camera flash</span> <span class="float-end"><a href="#" class="small text-muted">162.$</a></span> </div>
                            <h5 class="card-title">A flash is a device used in photography producing a flash of artificial light at a color temperature of about 5500 K to help illuminate a scene. </h5>
                            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                            <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/E7.jpg" class="card-img-top" alt="...">
                        <div class="label-top shadow-sm"></div>
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start price-hp">Memory cards</span> <span class="float-end"><a class="text-muted small" href="#">187.$</a></span> </div>
                            <h5 class="card-title">All of our digital camera memory cards promise reliable data storage and high- speed performance.</h5>
                            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                            <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>





    <main>
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/bag for e.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Camera Bag</span> <span class="float-end price-hp">14.$</span> </div>
                            <h5 class="card-title"> pouch is a small bag designed to take up little room. Those designed for a camera generally only have space for your camera and a few small accessories</h5>
                            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/batteries for e.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success"> CameraBatteries</span> <span class="float-end"><a href="#">10.$</a></span> </div>
                            <h5 class="card-title">Camera batteries are the portable energy storehouses for your digital cameras</h5>
                            <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/tripod bag.jpg" class="card-img-top" alt="...">
                        <div class="label-top shadow-sm"></div>
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Tripod-Bag</span> <span class="float-end"><a href="#" class="small text-muted">102.$</a></span> </div>
                            <h5 class="card-title">A tripod bag or a tripod case is an essential accessory for any Photographer or Videographer. Designed for easy transportation  </h5>
                            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                            <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm"> <img src="./assets/images/e1 n.jpg" class="card-img-top" alt="...">
                        <div class="label-top shadow-sm"></div>
                        <div class="card-body">
                            <div class="clearfix mb-3"> <span class="float-start price-hp">Long-Focallens</span> <span class="float-end"><a class="text-muted small" href="#">167.$</a></span> </div>
                            <h5 class="card-title">The longer the focal length, the narrower the angle of view and the higher the magnification.</h5>
                            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                            <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>