<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(./assets/images/hamish-weir-aYEUXnVG8tg-unsplash.jpg);">
    <br>
<h1 style="color: firebrick;">Photography News Archieve</h1>
<section> <br><br><br>
   <h3>Firmware Update for All Nikon Z Cameras – And Our Wishlist Gets Smaller</h3>
   <article>
       <div>
           <img src="./assets/images/firmware.jpg" alt="no img" height="200" width="200"><br><br>
           <h5><p>Nikon just announced firmware updates for its entire Z-series camera lineup, to be released on April 26. Rather than routine bug fixes, all the changes Nikon is listing so far are performance related. Let’s take a look at the features that were added to each camera.</p></h5>
       </div>
   </article>
</section>
<br><br><br>      
<section> 2
    <h3>Nikon Z April Camera Sale: Which Deals Are Worth It?</h3>
    <article>
        <div>
            <img src="./assets/images/Nikon- n2.jpg" alt="no img" height="250" width="250"><br><br><br><br>
            <h5><p> Nikon just announced temporary rebates on many of its mirrorless cameras, up to $600 off. As always, we’ll list the deals below and then analyze which ones we think are worthwhile for photographers considering a Nikon Z camera.</p></h5>
        </div>
    </article>
 </section><br><br>
         
 <section> 3
    <h3>Sensor Gel Stick Sale – While Supplies Last!</h3>
    <article>
        <div>
            <img src="./assets/images/n3.jpg" alt="no img" height="250" width="250"><br><br>
            <h5><p> After many years of selling the Sensor Gel Stick, I decided it is time to move it off Photography Life. With Amazon constantly undercutting our sales (and often selling fake copies), it has been tough to keep the product available, and I just don't want to deal with the inventory,...</p></h5>
        </div>
        <br><br><br>
    </article>
 </section>
 
</body>
</html>