body {
    background-color: #d1d6da
}

.card {
    background-color: #00544f;
    width: 500px
}

.form-control {
    background-color: #00544f;
    border: none;
    border-bottom: 1px solid rgb(14, 13, 13);
    border-radius: 1px;
    padding: 2px;
    padding-bottom: 8px
}

.form-control:focus {
    background-color: #00544f;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgb(5, 5, 5);
    color: rgb(10, 10, 10)
}

.btn-secondary {
    height: 50px;
    border-radius: 30px
}

.terms {
    font-size: 13px
}