<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(./assets/images/dollar-gill-yqNRxWNrC04-unsplash.jpg);">
    <div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
        <div class="card p-3 text-center py-4">
            <div> <img src="./assets/images/blue cam.jpeg" width="70"> </div>
            <div class="px-sm-4 mt-3 px-3"> <input class="form-control" placeholder="Your name"> <input class="form-control mt-3" placeholder="Email address"> <input class="form-control mt-3" placeholder="Password"> </div>
            <div class="px-5 mt-4"> <button class="btn btn-secondary w-100 text-uppercase">Signup</button> </div>
            <div class="px-5"> <span class="terms">By creating an account, you agree and accept our <a href="#" class="text-decoration-none">terms</a> and <a href="#" class="text-decoration-none">conditions</a>.</span> </div>
        </div>
    </div>
</body>
</html>