<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(./assets/images/hamish-weir-aYEUXnVG8tg-unsplash.jpg);">
   <img src="./assets/images/cam aceesories home1.jpg" class="slide-1" height="1300" width="1000">
   <img src="./assets/images/shoot home2.jpg" class="slide-2" height="550" width="1300">
   
  
<br><br><br><br>
<h1>What is Photography</h1><br>
<h3> <p> Photography is the art of capturing light with a camera, usually via a digital sensor or film, to create an image. With the right camera equipment, you can even photograph wavelengths of light invisible to the human eye, including UV, infrared, and radio.
</p></h3>
<br><br>
<h1> Importance of Photogaphy</h1><br>
<h3> The world of photography has changed dramatically in the past couple years and continues to change. The cameras on our phones, and ease of uploading our photos to the internet has made the number of images in our world explode.   
    
</h3> <br><br>



<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="card"> <video src="./assets/videos/10 Famous Types of Photography _ 5 Types of Photography Careers _ Join Online Ph_HD.mp4"  controls frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
        <div class="p-3 content"> <span>Featured Video</span>
            <h4>Types of Photography</h4>
            <p>While most photographers specialize in one or two different types of photography experimenting with various photography styles can help to expand your skill set. The technical and creative skills required often cross multiple photography genres. This means that as you improve in one area, you can learn valuable lessons and techniques that make you a better photographer across other styles.</p>
        </div>
        <div class="p-3 d-flex justify-content-between align-items-center">
            <div class="about"> <span><i class="fa fa-heart"></i> <small>12</small></span> <span class="ml-2"><i class="fa fa-envelope"></i> <small>12</small></span> </div>
            <div class="angle"> <i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i> </div>
        </div>
    </div>
</div>


</body>
</html>